:root {
    /* global */
    --global: #292f36;

   /*colors */
   --button-text-color: #ffffff;
   --hover-text-color: #cda274;
   --second-text-color: #4d5053;

   /*background-color*/
   --background-color:#f4f0ec;

   /*fon
}